<div class="myPic">
    <img class="myImage" id="detailedImage"  data-ng-src = '{{p.img.src}}' col-lg-12/>
</div>

<div class="productRight">

    <div class="myTitle">
        {{p.title}}
    </div>

    <div class="myPrice">
        {{p.price | currency}}
    </div>

    <div class="myInfo"> <a href ng-click= "p.info"></a>
        <p>{{p.info}}</p>
    </div>

    <button class="btn btn-primary" id="detailedBtn" ng-click="countItems(p)">More!</button>
    <p>{{p.count}}</p>

    <button class="btn btn-primary" id="detailedBuy" ng-click="addItem(p)">Buy!</button>
    <p></p>
</div>