<ul>
    <li class="myProduct" data-ng-repeat= "p in products">
        <a href="#/{{p.id}}">
            <div class="productWrapper" col-lg-4>
            <div class="myPic">
                <img class="myImage" data-ng-src = '{{p.img.src}}'/>
            </div>

            <div class="productRight">
<span>
                <div class="myTitle">
                    {{p.title}}
                </div>

                <div class="myPrice">
                    {{p.price | currency}}
                </div>
</span>
                <p></p>
            </div>
        </div>
        </a>
        <button class="btn btn-primary"  ng-click="addItem(p)">Buy!</button>
    </li>
</ul>