body {
    max-width: 80%;
}


.myProduct {
    display: inline-block;
    width:300px;
    height: 400px;

}

img.myImage {
    display: inline-block;
    width: 200px;
    height: 200px;
}

div.myPic {
    display: inline-block;
}

.productWrapper {
display: block;
    border-radius: 5px;
    border: 1px solid lightgrey;}

.productRight {
    display: block;
}

.navBar {
    height: 100px;
}